:root {
  --white: #FFF;
  --moderate-violet: #7441c7;
  --grayish-blue: #48556a;	
  --blackish-blue: #19202e;
  --light-gray: #cecece;
  --light-gray-blue: #ecf2f8;

  --barlow: 'Barlow Semi Condensed', sans-serif;
}
body {
  width: 1440px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  Font-size: 13px;
}
.card {
  border-radius: 10px;
}

