:root {
  --white: #FFF;
  --moderate-violet: #7441c7;
  --grayish-blue: #48556a;	
  --blackish-blue: #19202e;
  --light-gray: #cecece;
  --light-gray-blue: #ecf2f8;
  --light-violet: #8F6AC8;
  --violet:  #77499a;

  --barlow: 'Barlow Semi Condensed', sans-serif;
}
body {
  width: 1440px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  Font-size: 13px;
}
.card {
  border-radius: 10px;
}
.user {
  display: flex;
}
.profile-picture img {
  width: 30px;
  border-radius: 50px;
}
.about-user {
  padding-left: 15px;
}
.about-user p {
  opacity: 70%;
}
h2 {
  margin-bottom: 2px;
}