:root {
  --white: #FFF;
  --moderate-violet: #7441c7;
  --grayish-blue: #48556a;	
  --blackish-blue: #19202e;
  --light-gray: #cecece;
  --light-gray-blue: #ecf2f8;
  --light-violet: #8F6AC8;
  --violet:  #77499a;

  --barlow: 'Barlow Semi Condensed', sans-serif;
}
body {
  width: 1440px;
  background-color: var(--light-gray-blue);
  font-family: 'Barlow Semi Condensed', sans-serif;
  Font-size: 13px;
}
.card {
  border-radius: 10px;
  padding: 25px 30px;
  box-sizing:border-box;
}
.card-1, .card-2, .card-5 {
  color: var(--white);
}
.card-3, .card-4 {
  color: var(--blackish-blue);
}
.user {
  display: flex;
}
.profile-picture img {
  width: 30px;
  border-radius: 50px;
}
.about-user {
  padding-left: 15px;
}
.name {
  margin-bottom: 5px;
}
.about-user p {
  opacity: 70%;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 15px;
}
.testimonial span {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  padding-bottom: 10px;
}
.testimonial p {
  opacity: 60%;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2%;
  margin-top: 10px;
}
