@media (max-width: 375px) {
  body {
    max-width: 100%;
  }
  .container {
    max-width: 100%;  
    display: grid;
    grid-template-areas: "card-1"
                         "card-2"
                         "card-4"
                         "card-5"
                         "card-3";
    margin: 165px 30px;
  }
  .card  {
    width: 312px;
    height: 100%;
    padding: 25px 25px;
  }
}