.container {
  display: grid;
  grid-template-areas: "card-1 card-1 card-2 card-3"
                       "card-4 card-5 card-5 card-3";
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 165px;
}
.card-1 {
  grid-area: card-1;
  background-color: var(--moderate-violet);
  width: 540px;
  height: 280px;
  background-image: url(../img/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: 82% 0;
}
.card-1 .testimonial p {
  font-size: 1em;
  letter-spacing: 10%;
}
.user-1 {
  display: flex;
}
.user-1 .profile-picture img {
  width: 30px;
  border-radius: 50px;
  border: 2px solid var(--light-violet);
}
.card-2 {
  grid-area: card-2;
  background-color: var(--grayish-blue);
  width: 256px;
  height: 280px;
}
.card-2 .testimonial p {
  font-size: 1em;
  width: 178px;
  height: 89px;
}
.card-3 {
  grid-area: card-3;
  background-color: var(--white);
  width: 260px;
  height: 572px;
}
.card-3 .testimonial span {
  opacity: 70%;
}
.card-3 .testimonial p {
  line-height: 18px;
}
.card-4 {
  grid-area: card-4;
  background-color: var(--white);
  width: 258px;
  height: 265px;
}
.card-4 .testimonial {
  width: 190px;
  height: 150px;
}
.card-4 .testimonial span {
  font-size: 1.8em;
  opacity: 70%;
}
.card-4 .testimonial p {
  font-size: 1em;
}
.card-5 {
  grid-area: card-5;
  background-color: var(--blackish-blue);
  width: 540px;
  height: 265px;
}
.user-5 .profile-picture img {
  border: 2px solid var(--violet);
}
.attribution {
  text-align: center;
  margin: 30px;
}
