.container {
  display: grid;
  grid-template-areas: "card-1 card-1 card-2 card-3"
                       "card-4 card-5 card-5 card-3";
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  background-color: var(--light-gray-blue);
}
.card-1 {
  grid-area: card-1;
  background-color: var(--moderate-violet);
}
.user-1 {
  display: flex;
}
.user-1 .profile-picture img {
  width: 30px;
  border-radius: 50px;
  border: 2px solid var(--light-violet);
}
.card-2 {
  grid-area: card-2;
  background-color: var(--grayish-blue);
}
.card-3 {
  grid-area: card-3;
  background-color: var(--white);
}
.card-4 {
  grid-area: card-4;
  background-color: var(--white);
}
.card-5 {
  grid-area: card-5;
  background-color: var(--blackish-blue);
}
.user-5 .profile-picture img {
  border: 2px solid var(--violet);
}
